.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em; /* Espacio uniforme entre los elementos */
    list-style: none;
    padding: 0;
    margin: var(--margin-spacing-components);
}

.item-child-list {
    display: flex;
    flex-direction: column; /* Alineación vertical para imagen y texto */
    justify-content: space-between;
    align-items: stretch;
    width: var(--width-cards); /* Tamaño uniforme para cada elemento */
    padding: 1em; /* Espaciado interno */
    background-color: #f9f9f9; /* Fondo para resaltar el contenido */
    border: 1px solid #ddd; /* Bordes para separación */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: var(--shadow-marked); /* Sombra opcional */
}

.books-container .item-list .item-child-list img {
    width: 100%; /* Asegura que la imagen llene su contenedor */
    height: auto; /* Mantiene la proporción */
    aspect-ratio: 3 / 4; /* Relación de aspecto uniforme */
    object-fit: fill; /* Ajusta la imagen */
    border-radius: 4px; /* Redondea las esquinas */
}

.books-container .item-list .item-child-list figcaption {
    margin: 0.5em auto; /* Espacio entre la imagen y el texto */
    font-weight: var(--text-bold);
    text-align: center; /* Centra el texto */
    color: #333;
    font-size: var(--text-m); /* Tamaño de fuente */
}

.item-child-list span {
    margin-top: var(--margin-top-components);
    font-weight: bold;
    text-align: right; /* Alineación del texto a la derecha */
    font-size: var(--text-s); /* Tamaño de fuente */
}

.item-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
}

.item-portrait {
    margin: var(--margin-portrait);
}

.item-description {
    margin: var(--margin-description);
    width: 50%; /* Ancho fijo para la descripción */
}

.item-description .childrens {
    list-style: none;
    margin-left: var(--margin-left-components);
}

.item-description .childrens li::before {
    content: "- "; /* Prefijo para los ítems */
}

.pagination {
    margin: var(--margin-spacing-components);
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.books-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
