/* General container styles */
.characters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* List styles */
.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  list-style: none;
  padding: 0;
  margin: var(--margin-spacing-components);
}

.item-child-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-cards);
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: var(--shadow-marked);
}

.item-child-list img {
  width: 100%;
  aspect-ratio: 1 / 1; /* Relación cuadrada para personajes */
  object-fit: cover;
  border-radius: 4px;
}

/* No characters message */
.no-characters {
  font-size: var(--text-m);
}

/* Pagination styles */
.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
