.footer-custom {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid black;
  background-color: #333; /* Fondo oscuro */
  color: white; /* Texto blanco */
}

.footer-custom ul {
  display: flex;
  justify-content: center;
  gap: 2em;
  list-style: none;
  padding: 0;
  margin: 0;
}