.header-custom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.header-custom a {
  text-decoration: none;
}
.header-custom .login {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background: none;
  border: none;
  cursor: pointer;
}

.header-custom .login:hover {
  background-color: #0056b3;
}
.header-custom .header-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.header-custom div select {
  padding: 10px 0;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

@media (max-width: 500px){
  .header-custom{
    flex-direction: column;
    
  }
  .header-custom .header-inputs {
    gap: 0;
    padding: 0;
    margin: 0;
  }
  .header-custom div select{
    font-size: 1rem;
  }
  
}