.welcome-text {
  text-align: center;
}
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid black;
}
.presentation .welcome {
  text-align: center;
  width: 30%;
}
.presentation .features {
  width: 30%;
}
.content h2 {
  text-align: center;
}
.content .featured-books {
  display: flex;
  justify-content: center;
  gap: 4em;
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 1px solid black;
}
.content .featured-books .item-child-list img {
  aspect-ratio: 3 / 4;
  object-fit: fill;
}

.content .featured-characters {
  display: flex;
  justify-content: center;
  gap: 1em;
  height: auto;
  margin: 1em 0;
  padding: 1em 0;
  border-bottom: 1px solid black;
}
.content .featured-characters .item-child-list {
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
}
.content .featured-characters .item-child-list div {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.content .featured-characters .item-child-list img {
  aspect-ratio: 3 / 4;
  object-fit: fill;
}
.content .hogwarts-houses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.content .hogwarts-houses .featured-houses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 50%;
}
.content .hogwarts-houses .featured-houses .item-child-list span {
  margin: 1em 1em;
  font-size: var(--text-xl);
}

@media (max-width: 1050px) {
  .content .hogwarts-houses .featured-houses .item-child-list {
    width: 30%;
  }
  .content .hogwarts-houses {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content .hogwarts-houses .featured-houses {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 2em 0;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .content .featured-characters {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content .featured-characters .item-child-list {
    flex-direction: column;
    width: var(--width-cards);
  }
  .content .featured-characters .item-child-list .dates {
    width: 100%;
  }
  .content .featured-books {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* Definir un scroll-timeline */
.scroller-up {
  view-timeline-name: --reveal;

  animation-name: fade-slide-up;
  animation-fill-mode: both;

  animation-timeline: --reveal;
  animation-range: entry 60% cover 50%;
}
.scroller-right {
  width: 30%;
  margin: 0 auto;
  view-timeline-name: --reveal;

  animation-name: fade-slide-right;
  animation-fill-mode: both;

  animation-timeline: --reveal;
  animation-range: entry 60% cover 100%;
}

@keyframes fade-slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-slide-right {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


