/* Style.css */
.light {
  background-color: var(--bg-light);
  height: 100vh;
  color: var(--color-light);
}
.light a {
  color: var(--color-light);
}
.dark {
  background-color: var(--bg-dark);
  height: 100vh;
  color: var(--color-dark);
}
.dark a {
  color: #ffffff;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  transition: background-color 0.3s ease, color 0.3s ease;
}
