/* Style.css */
.app-container.light {
  min-height: 100vh; /* Asegura que la app ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
}
.app-container.dark {
  min-height: 100vh; /* Asegura que la app ocupe toda la pantalla */
  display: flex;
  flex-direction: column;
}
.light {
  background-color: var(--bg-light);
  height: 100%;
  color: var(--color-light);
}
.light a {
  color: var(--color-light);
}
.dark {
  background-color: var(--bg-dark);
  height: 100%;
  color: var(--color-dark);
}
.dark a {
  color: var(--color-dark);
}
.dark main {
  flex: 1;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100%;
}